h1 {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:18pt}
h2 {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:16pt}
h3 {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:14pt}
body {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:10pt}
p {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:10pt}
td {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:10pt}
a {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:10pt}
th {font-weight:bold;font-family:Tahoma,Verdana,Arial,Helvetica;font-size:10pt}