h1 {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:16pt}
h2 {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:14pt}
h3 {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:12pt}
body {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:8pt}
p {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:8pt}
td {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:8pt}
a {font-family:Tahoma,Verdana,Arial,Helvetica;font-size:8pt}
th {font-weight:bold;font-family:Tahoma,Verdana,Arial,Helvetica;font-size:8pt}